.App {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.disk {
    height: 50em;
    /* padding: 1.5em; */
    will-change: filter;
    transition: filter 300ms;
    position: fixed;
    top: 0px; right: -25em;
    z-index:0;
    border-radius: 90%;
    
    /* pointer-events: none; */
    user-select: none;
}

@media (pointer:fine) {
    .disk:hover{
      filter: drop-shadow(0 0 2em #2f1c1caa);
      z-index:2;
    }
}

@media (pointer:coarse) {
    .hideOnMobile{
        display:none
    }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
	font-family: "caang";
    src: url("./assets/caang.ttf");
}

.transparent-background {
    position: relative;
    z-index:1;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5em;
}

p{
    color:white;
    font-family: 'caang';
    font-size: 3em;
}

#title-box {
   color:white;
   font-family: 'caang';
   padding: 5%;
}

#title-box h3 {
    font-size: 4em;
    margin: 0;
}

#title-box p {
    font-size: 2em;
    margin: 0;
}

@keyframes color-shift {
    0%   {color: yellow;}
    50%  {color: rgb(241, 126, 31);}
    20%  {color: #d05353;}
    75% {color: rgb(134, 224, 16);}
    100%   {color: yellow;}
  }

.on-beat {
    animation-name: color-shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.title {
	font-family: 'caang';
    font-size: 15em;
    margin: 0;
}

@media (max-width:700px) {
    .title {
        font-size: 10em;
    }
}

body{
   background-color: #d05353;
}

.chart-container {
  position: relative;
  max-height: 35em;
  width: 90%;
  padding: 1em;
  padding-bottom: 3em;
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  border-radius: 5em;
}

.chart-button{
  /* to make sure the button is on top of the disc */
  z-index: 2; 
}
footer li{
    list-style: none;
}

footer{
    position: relative;
    z-index:0;
    color:white;
    font-family: 'caang';
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3em;
}