#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.disk {
    height: 50em;
    /* padding: 1.5em; */
    will-change: filter;
    transition: filter 300ms;
    position: fixed;
    top: 0px; right: -25em;
    z-index:0;
    border-radius: 90%;
    
    /* pointer-events: none; */
    user-select: none;
}

.disk:hover{
  filter: drop-shadow(0 0 2em #2f1c1caa);
  z-index:2;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
	font-family: "caang";
    src: url("./assets/caang.ttf");
}

.transparent-background {
    position: relative;
    z-index:1;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5em;
}

#title-box {
   color:white;
   font-family: 'caang';
   padding: 5%;
}

#title-box h3 {
    font-size: 4em;
    margin: 0;
}

#title-box p {
    font-size: 2em;
    margin: 0;
}

@keyframes color-shift {
    0%   {color: yellow;}
    50%  {color: rgb(241, 126, 31);}
    20%  {color: #d05353;}
    75% {color: rgb(134, 224, 16);}
    100%   {color: yellow;}
  }

.on-beat {
    animation-name: color-shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.title {
	font-family: 'caang';
    font-size: 15em;
    margin: 0;
}

body{
   background-color: #d05353;
}

#pie-container {
    flex-direction: row;
}

.chart-container {
    position: relative;
    max-height: 50em;
    width: 90%;
    padding: 1em;
    margin: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chart-container button{
    margin: 50px;
    border-radius: 100%;
}